.nav-wrapper {
	background-color: #26a69a;
}


.nav-wrapper img {
	height: 65px;
	position: relative;
	left: 50px;	
}

.nav-wrapper a {
	position: relative;
}

.header-photo {
	background-image: url(../images/mainbackground.jpg);
	background-size: cover;
	/*background-position: center bottom;*/
	margin-top: 0;
	width: 100%;	
	height: 500px;	
}


.header-photo h1 {
	position: relative;	
	color: black;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
	margin-top: 0;
/*	left: 200px;*/
}

.header-photo a {
	position: relative;	
	width: 300px;	
	margin:auto;
  	display:block;
}


.content-wrapper h2 {
	position: relative;	
	text-align: center;
	padding-bottom: 50px;
}

.nav-breadcrumb {
	background-color: #E6E6FA;
	padding-left: 65px;
}

.nav-breadcrumb a {
	color: black;
	font-size: 14px;
}

.breadcrumb:last-child {
	color: black;
}

.breadcrumb:before {
	color: black;
}

.artists li {
	max-width: 33.333%;
	display: inline-block;	
	position: relative;	
	padding-left: 130px;
		
}

.artists img {
	height: 200px;
	max-width: 200px;
}

.artists p {
	text-align: justify;
	max-width: 200px;
	font-family: serif;	
		
}

.flip-container {
	padding: 0;
}

.page-footer {
	background-color: #26a69a; 
}

.page-footer img {
	height: 20px;
	width: 20px;
}

.mapas {
	width: 100%;
}

/*.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;*/

/*.input-field col s12 {
	text-align: right;
}*/

.row input {
	color: black;
}

.row label {
	color: black;
	font-size: 20px;

}
   
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 200px;
}

.back p {
	font-size: 50px;
	background-color: #26a69a;
	text-align: center;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}   