/*.nuotrauka {*/
	/*width: 400px;*/
	
/*}*/


.name {
	border-style: solid;
    border-color: green;
    border-style: solid;
    


}



.nav-wrapper {
 background-color: #26a69a;
}


.nav-wrapper img {
 height:65px;
 position: relative;
 left: 50px; 
}

.nav-wrapper a {
 position: relative;
}


.waves-effect  {
	right: 50px;
	top: 50px;
}




.content-wrapper {
	width: 110%;

	
}


.staff li img {
	width: 100%;
	
}

.page-footer img {
 height: 20px;
 width: 20px;
}



.nav-breadcrumb {
 background-color: white;
 padding-left: 65px;
}

.nav-breadcrumb a {
 color: black;
 font-size: 14px;
}

.breadcrumb:last-child {
 color: black;
}

.breadcrumb:before {
 color: black;
}


.page-footer {
 background-color: #26a69a; 
}


p {
    font-family: sans-serif, italic;
    color: #f1f1f1;


}


h6 {
    font-size: 30px;
}


p {
    font-size: 15px;
    width: 800px;
    text-align: justify;

    
}



body  { background-color: #42a5f5;
}



nav {
   
    background-color: blue;
    
}

/*.page-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}


h2 {
	text-align: center;
}

p::selection {
	background-color: black;
}


p:hover {
	font-size: 30px;
}

#melyna {
	color: blue;
}

.raudona-spalva {
	color: red;
}

.fonas-melynas {
	background-color: blue;
}*/


.row input {
	color: black;
}

.row label {
	color: black;
	font-size: 20px;




	









